
<h1>Your Awesome URL</h1>
<p>We specially handcrafted your shortened URL below:</p>

<div style="border: 5px solid #000;">
  <p style="font: bold 24px arial;text-align:center;">localhost:9393/<%= @url.short_url %></p>
</div> 
